@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Dashboard";
}

<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>
<h1>Its the dashboard!</h1>

